<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
{{#each animals}}
    <h3>animalType: {{animalType}}</h3>
    <h3>pet: {{pet}}</h3>
    <h3>fierceness: {{fierceness}}</h3>
{{/each}}